@import url(colors.css);

#history {
  padding: 0 2em 1em 2em;
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.5);
}

#history h2 {
  margin-top: 1em;
  color: var(--gd-orange);
}

.lead {
  font-size: 20px;
  font-weight: 200;
}

.display-4 {
  font-weight: bold;
  margin-bottom: 0.5%;
  color: var(--gd-orange);
}

.timeline {
  margin: 5em auto;
  max-width: 34.15em;
}
.checkpoint {
  max-width: 34em;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: bolder;
}
.checkpoint div {
  border: 2px solid;
  border-radius: 1em;
  padding: 1em;
}
.checkpoint p {
  line-height: 25px;
  font-size: 16px;
}
.checkpoint:nth-child(odd) {
  border-left: 4px solid;
  padding-left: 2em;
  transform: translate(16.89em);
}
.checkpoint:nth-child(even) {
  border-right: 4px solid;
  padding-right: 2em;
  transform: translate(-16.89em);
}
.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
  content: "";
  background: #888;
  width: 2em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.checkpoint:nth-child(odd)::before {
  left: 0;
}
.checkpoint:nth-child(even)::before {
  right: 0;
}
.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
  content: "";
  background: var(--gd-orange);
  box-shadow: 0 0 0.5em var(--gd-yellow);
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.checkpoint:nth-child(odd) div::before {
  left: -0.5em;
}
.checkpoint:nth-child(even) div::before {
  right: -0.5em;
}

@media screen and (max-width: 1300px) {
  .timeline {
    margin: 2em auto;
  }
  .timeline .checkpoint {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  .timeline .checkpoint::before {
    width: 3px;
    height: 4em;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline .checkpoint div::before {
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline .lead {
    font-weight: 200;
    font-size: 14px;
  }
  .lead {
    font-size: 14px;
  }
}
