{% extends "layouts/layout.html" %} {% block content %}

<style>
  .left {
    width: 50%;
    float: left;
    padding-right: 20px;
  }

  .right {
    width: 50%;
    float: right;
    padding-left: 20px;
  }

  .link-container a {
    color: var(--hot-orange);
  }
  .link-container a:hover {
    color: var(--light-orange);
  }

  h2 {
    margin-top: 0;
  }

  input,
  textarea,
  select {
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: white !important;
    caret-color: white !important;
    border-style: none !important;
  }

  @media (max-width: 768px) {
    .left,
    .right {
      width: 100%;
      float: none;
      padding: 0;
    }
    .left {
      margin-bottom: 3em;
    }
  }
</style>

<section>
  <div class="container contact-container">
    <h1 class="display-1" data-aos="fade-right">contact</h1>

    <div class="left">
      <h2>We're always happy to help!</h2>
      <form class="row g-3">
        <div class="form-group">
          <label for="exampleInputEmail1">Your email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" required></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>

    <div class="right">
      <h2>Customer service</h2>
      <div class="link-container">
        <b>Phone</b>
        <p><a href="tel:1-800-468-7857">1-800-INT-STLR (468-7857)</a></p>
      </div>

      <div class="link-container">
        <b>Email</b>
        <p><a href="mailto:support@interstellr.eu.org">support@interstellr.eu.org</a></p>
      </div>
      <div class="link-container">
        <b>Twitter</b>
        <p>
          <a target="_blank" href="https://twitter.com/interstellr_eu">@interstellr_eu</a>
        </p>
      </div>
      <div class="link-container">
        <b>Business hours</b>
        <p>Mon - Fri: 10:00 AM - 9:00 PM CST</p>
      </div>
    </div>
  </div>
</section>

<script>
  // fake form submission
  var form = document.querySelector("form");
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    alert("Your message has been sent!");
    window.location.reload();
  });
</script>

{% endblock %}
