{% extends "layouts/layout.html" %} {% block content %}

<style>
  .links {
    margin: 3em 0;
  }
  .links a {
    color: var(--hot-orange);
  }
  .links a:hover {
    color: var(--light-orange);
  }

  .widget-container {
    margin-bottom: 2em;
    border-style: solid;
    border-width: 2px;
    border-image: var(--gd-rev) 1;
  }

  h2 {
    margin-top: 0;
  }

  input,
  textarea,
  select {
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: white !important;
    caret-color: white !important;
    border-style: none !important;
  }
</style>

<section>
  <div class="container">
    <h1 class="display-1" data-aos="fade-right">contact</h1>

    <div class="row">
      <div class="col-lg-8">
        <h2>We're always happy to help!</h2>
        <form class="row g-3">
          <div class="form-group">
            <label for="exampleInputEmail1">Your email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required />
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Your message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" required></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>

        <div class="links">
          <h2>Other ways to reach us</h2>
          <b>Phone</b>
          <p><a href="tel:1-800-468-7857">1-800-INT-STLR (468-7857)</a></p>
          <b>Email</b>
          <p><a href="mailto:support@interstellr.eu.org">support@interstellr.eu.org</a></p>
          <b>Business hours</b>
          <p>Mon - Fri: 10:00 AM - 9:00 PM CST</p>
          <b>Location</b>
          <p>54298 Boca Chica Blvd, Brownsville, TX 78521</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="widget-container">
          <a
            class="twitter-timeline"
            data-dnt="true"
            data-theme="dark"
            href="https://twitter.com/interstellr_eu?ref_src=twsrc%5Etfw"
            >Tweets by interstellr_eu</a
          >
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="widget-container">
          <a
            class="weatherwidget-io"
            href="https://forecast7.com/en/25d90n97d50/brownsville/?unit=us"
            data-label_1="BROWNSVILLE"
            data-label_2="WEATHER"
            data-theme="original"
            >BROWNSVILLE WEATHER</a
          >
          <script>
            !(function (d, s, id) {
              var js,
                fjs = d.getElementsByTagName(s)[0];
              if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "https://weatherwidget.io/js/widget.min.js";
                fjs.parentNode.insertBefore(js, fjs);
              }
            })(document, "script", "weatherwidget-io-js");
          </script>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // fake form submission
  var form = document.querySelector("form");
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    alert("Your message has been sent!");
    window.location.reload();
  });
</script>

{% endblock %}
