{% extends "layouts/layout.html" %} {% block content %}

<link rel="stylesheet" href="/static/css/spaceship-style.css" />

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/static/img/bg/capsule-in-space.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    filter: brightness(0.3);
    transform: scaleX(-1);
    z-index: -1;
  }
</style>

<div id="background"></div>

<section>
  <div class="container">
    <h1 class="display-1" data-aos="fade-right">spaceship</h1>

    <h2>Vehicles</h2>

    <h4>Celestial Vista</h4>
    <p>
      The Celestial Vista is a 292-foot-long space pod designed for a 6-hour flight, offering low G force and an
      astronaut-like experience. With its panoramic glass windows and ocean landing capability, it provides an
      unparalleled view of Earth's beauty. Accommodating up to eight passengers, prepare for a mesmerizing journey of
      Earth observation from space.
    </p>

    <h4>Cosmic Explorer</h4>
    <p>
      Embark on awe-inspiring journeys to Mars, Jupiter, Saturn, and beyond aboard the Cosmic Explorer. With advanced
      propulsion, enhanced observation facilities, sustainable life support, adaptable mobility, and comfortable living
      quarters, this spaceship opens doors to the wonders of our solar system. Discover new horizons and unravel the
      secrets of the cosmos like never before.
    </p>

    <h2>Safety</h2>
    <p>
      Test flights are beginning soon this year to verify that we are ready to go commercial. Communications throughout
      the operation – between land, sea, and capsule – will be provided by Silvus Technologies, utilizing military-grade
      StreamCaster MANET radios and MN-MIMO waveform technology. To provide comfort and decrease the chance of health
      issues on the flight, the vessel will be pressurized.
    </p>

    <h2>Launch</h2>
    <p>
      We do our best to create ideal launch conditions making flights as frequent as possible. We constantly plan to
      move to areas of good weather and follow the sea breeze to minimize the impact of wind and minimize the likelihood
      of complications.
    </p>

    <h2>Recovery</h2>
    <p>
      The cone shape at the bottom of the vessel will provide flyers with a smooth landing in the water. Fast boats from
      Fluid Watercraft will stabilize the capsule after it lands in the water so that the Marine Spaceport can lift it
      from the water and take it back to a launch site.
    </p>
  </div>
</section>

<section>
  <div class="container" id="history">
    <h2 style="text-align: center">The History of Spaceflight</h2>
    <p>
      Space exploration has been a part of human history for decades. In 1957, the Soviet Union launched the first
      artificial satellite, Sputnik 1, into orbit. This sparked a space race between the Soviet Union and the United
      States, leading to several significant achievements. In 1961, Yuri Gagarin became the first human to journey into
      space. The Zenith of the space race came in 1969, when the United States successfully landed astronauts on the
      moon during the Apollo 11 mission. Since then, space exploration has continued with the launch of space probes,
      orbiting telescopes, and space stations. Today, many countries and private companies are actively involved in
      space exploration, with the goal of exploring further into our solar system and beyond.
    </p>
  </div>
  <div class="timeline">
    <div class="checkpoint">
      <div data-aos="fade-left">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">1957</h2>
        <p class="display-6 text-center">Sputnik 1</p>
        <p class="lead text-center">
          The Soviet Union launches the first artificial satellite, Sputnik 1, into orbit, marking the beginning of the
          space age.
        </p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-right">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">1961</h2>
        <p class="display-6 text-center">Yuri Gagarin</p>
        <p class="lead text-center">
          Yuri Gagarin becomes the first human to journey into space, completing a single orbit of the Earth.
        </p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-left">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">1969</h2>
        <p class="display-6 text-center">Apollo 11</p>
        <p class="lead text-center">
          The United States successfully lands astronauts Neil Armstrong and Edwin "Buzz" Aldrin on the Moon during the
          Apollo 11 mission, marking the first time humans have set foot on another celestial body.
        </p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-right">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">1971</h2>
        <p class="display-6 text-center">Lunokhod 1</p>
        <p class="lead text-center">
          The Soviet Union's Lunokhod 1 becomes the first remote-controlled robot to explore another celestial body,
          landing on the Moon and transmitting data back to Earth.
        </p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-left">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">1977</h2>
        <p class="display-6 text-center">Voyager Missions</p>
        <p class="lead text-center">
          NASA's Voyager 1 and Voyager 2 spacecraft are launched, embarking on a mission to explore the outer planets of
          our solar system and beyond.
        </p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-right">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">1990</h2>
        <p class="display-6 text-center">Hubble Space Telescope</p>
        <p class="lead text-center">
          NASA's Hubble Space Telescope is launched, providing unprecedented views of the cosmos and revolutionizing our
          understanding of the universe.
        </p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-left">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">1998</h2>
        <p class="display-6 text-center">ISS</p>
        <p class="lead text-center">
          The first components of the International Space Station (ISS) are launched, beginning the largest
          collaborative space project in history.
        </p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-right">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">2012</h2>
        <p class="display-6 text-center">Curiosity Rover</p>
        <p class="lead text-center">
          NASA's Curiosity rover lands on Mars, equipped with more advanced scientific instruments than previous rovers,
          boosting our knowledge of Mars.
        </p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-left">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">2014</h2>
        <p class="display-6 text-center">Rosetta Spacecraft</p>
        <p class="lead text-center">
          The European Space Agency's Rosetta spacecraft becomes the first spacecraft to orbit a comet, landing its
          Philae probe on the surface.
        </p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-right">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">2025</h2>
        <p class="display-6 text-center">Artemis III Mission</p>
        <p class="lead text-center">
          Artemis III is launched by NASA, marking the first time since Apollo 11 that humans have set foot on the moon.
        </p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-left">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">2029</h2>
        <p class="display-6 text-center">Luna Base</p>
        <p class="lead text-center">The first human settlement on the moon is built for permanent occupation.</p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-right">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">2031</h2>
        <p class="display-6 text-center">Ares Mission</p>
        <p class="lead text-center">
          NASA and the ESA launch the Ares Mission in a global collaborative effort, and humans set foot on Mars for the
          first time ever.
        </p>
      </div>
    </div>
    <div class="checkpoint">
      <div data-aos="fade-left">
        <h2 class="mt-0 pt-0 display-4 text-center text_logogradient">2032</h2>
        <p class="display-6 text-center">Present Day</p>
        <p class="lead text-center">
          Each of these milestones has pushed the boundaries of what we know about the universe and our place in it,
          from the first steps on the moon to the ongoing search for life beyond Earth. Space exploration has led to
          countless technological advancements and scientific discoveries. Today, the sky is no longer the limit.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
